.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 24px;
  color: white;
}
div {
  width: 100%;
  text-align: center;
}
div:first-child {
  text-align: left;
}
div:last-child {
  text-align: right;
}
div p {
  margin:  0 40px;
}
