mat-button-toggle-group {
  border:  none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 80px 0;
}

mat-button-toggle {
  width: calc(90% / 3);
  margin: 10px;
  border-radius: 4px;
  border: 1px solid #ccc !important;
}
mat-button-toggle div:first-child {
  text-align: left;
}
mat-button-toggle div:last-child {
  text-align: right;
}

button {
  width: 100%;
}

@media only screen and (max-width: 48em) {
  mat-button-toggle {
    width: 45%;
  }
}

@media only screen and (max-width: 40em) {
  mat-button-toggle {
    width: 100%;
  }
}
